<section class="values">
    <div class="container">
        <div class="swiper values__slider">
            <div class="values__divider-btn">
                <svg
                    width="28"
                    height="18"
                    viewBox="0 0 28 18"
                    fill="none"
                    xmlns="http://w3.org"
                >
                    <path
                        d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                        stroke="#7E8492"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="swiper-wrapper">
                <div
                    class="swiper-slide values__slide values__slide--workspace"
                >
                    <div class="values__img-wrapper">
                        <img
                            loading="lazy"
                            class="values__img"
                            src="./assets/image/values-slide1.png"
                            alt="Top view of office desk with laptop, coffee, tablet and pens"
                        />
                    </div>
                    <div class="values__body">
                        <h3 class="values__title heading-h5">Our workspace</h3>
                        <p class="values__descr text-p-medium">
                            We provide our team with the best tools and a
                            comfortable environment to inspire creativity and
                            boost productivity every single day.
                        </p>
                        <a href="#" class="values__btn">
                            See Details
                            <svg
                                width="14"
                                height="12"
                                viewBox="0 0 14 12"
                                fill="none"
                                xmlns="http://w3.org"
                                class="values__btn-arrow"
                            >
                                <path
                                    d="M1 6H13M13 6L8.5 1.5M13 6L8.5 10.5"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide values__slide values__slide--content">
                    <div class="values__img-wrapper">
                        <img
                            loading="lazy"
                            class="values__img"
                            src="./assets/image/values-slide2.png"
                            alt="Speaker leading a business presentation for team members"
                        />
                    </div>
                    <div class="values__body">
                        <h3 class="values__title heading-h5">
                            What we believe in
                        </h3>
                        <p class="values__descr text-p-medium">
                            Over the years at Sans, we've put a lot of thought
                            into what it is that makes us who we are. The
                            qualities that unite us, that make us such an
                            effective team, and...
                        </p>
                        <a href="#" class="values__btn">
                            See Details
                            <svg
                                width="14"
                                height="12"
                                viewBox="0 0 14 12"
                                fill="none"
                                xmlns="http://w3.org"
                                class="values__btn-arrow"
                            >
                                <path
                                    d="M1 6H13M13 6L8.5 1.5M13 6L8.5 10.5"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide values__slide values__slide--side">
                    <div class="values__img-wrapper">
                        <img
                            loading="lazy"
                            class="values__img"
                            src="./assets/image/values-slide3.png"
                            alt="Woman focusing on her work in front of a monitor"
                        />
                    </div>
                    <div class="values__body">
                        <h3 class="values__title heading-h5">Our dedication</h3>
                        <p class="values__descr text-p-medium">
                            Every project we take on is fueled by deep focus,
                            attention to detail, and a shared passion for
                            delivering exceptional digital experiences.
                        </p>
                        <a href="#" class="values__btn">
                            See Details
                            <svg
                                width="14"
                                height="12"
                                viewBox="0 0 14 12"
                                fill="none"
                                xmlns="http://w3.org"
                                class="values__btn-arrow"
                            >
                                <path
                                    d="M1 6H13M13 6L8.5 1.5M13 6L8.5 10.5"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="values__promo">
            <h2 class="values__slogan heading-h2">
                Powerful ideas & sales acceleration
            </h2>
            <p class="values__text text-p-large">
                We are a software development firm specializing in digital
                products. We build beautiful, functional and cross-platform
                solutions that are accessible to all.
            </p>
        </div>
    </div>
</section>
