<section class="blog-articles" id="articles-section">
    <div class="container blog-articles__container">
        <div class="blog-articles__header">
            <div class="blog-articles__caption">
                <h2 class="blog-articles__title heading-h2">Articles</h2>
                <p class="blog-articles__subtitle text-p-medium">
                    Complex tech decoded by engineers, business trends analyzed
                    by experts.
                </p>
            </div>

            <!-- Блок со стрелками навигации -->
            <div class="blog-articles__nav">
                <button
                    class="blog-articles__nav-btn blog-articles__nav-btn--prev"
                    type="button"
                    aria-label="Назад"
                >
                    <svg
                        width="15"
                        height="13"
                        viewBox="0 0 15 13"
                        fill="none"
                        xmlns="http://w3.org"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6.9363 12.3364C6.58483 12.6879 6.01498 12.6879 5.66351 12.3364L0.263506 6.9364C-0.0879668 6.58493 -0.0879667 6.01508 0.263506 5.66361L5.66351 0.263609C6.01498 -0.0878634 6.58483 -0.0878634 6.9363 0.263609C7.28777 0.615081 7.28777 1.18493 6.9363 1.5364L3.07269 5.4L13.4999 5.4C13.997 5.40001 14.3999 5.80295 14.3999 6.30001C14.3999 6.79706 13.997 7.20001 13.4999 7.20001L3.07269 7.2L6.9363 11.0636C7.28777 11.4151 7.28777 11.9849 6.9363 12.3364Z"
                            fill="#CED1D8"
                        />
                    </svg>
                </button>
                <button
                    class="blog-articles__nav-btn blog-articles__nav-btn--next"
                    type="button"
                    aria-label="Вперед"
                >
                    <svg
                        width="15"
                        height="13"
                        viewBox="0 0 15 13"
                        fill="none"
                        xmlns="http://w3.org"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
                            fill="white"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Сетка / Ряд карточек -->
        <div class="blog-articles__grid">
            <!-- Карточка 1 -->
            <article class="blog-articles__card article-card">
                <div class="article-card__image-wrapper">
                    <img
                        class="article-card__image"
                        src="./assets/image/article_1.jpg"
                        alt="List of UX Designer Portfolio"
                        width="360"
                        height="240"
                    />
                </div>
                <div class="article-card__content">
                    <h5 class="article-card__title heading-h5">
                        List of UX Designer Portfolio / Case Studies where you
                        can make money
                    </h5>
                    <p class="article-card__description text-p-medium">
                        Here are some portfolios / Case Studies from UX
                        Designers that you can use as a reference for creating a
                        portfolio. Two interesting things from their portfolios
                        are...
                    </p>
                    <a class="article-card__link text-p-default" href="#"
                        >Read More</a
                    >
                </div>
            </article>

            <!-- Карточка 2 -->
            <article class="blog-articles__card article-card">
                <div class="article-card__image-wrapper">
                    <img
                        class="article-card__image"
                        src="./assets/image/article_2.jpg"
                        alt="Skyrocketing in The Designing Career"
                        width="360"
                        height="240"
                    />
                </div>
                <div class="article-card__content">
                    <h5 class="article-card__title heading-h5">
                        Skyrocketing in The Designing Career, Why Not?
                    </h5>
                    <p class="article-card__description text-p-medium">
                        Ever thought of jumping into the world of design as a
                        career? If not, you may want to look at what the word
                        'design' actually means. Design is a method of designing
                        aesthetic actions that are carried out...
                    </p>
                    <a class="article-card__link text-p-default" href="#"
                        >Read More</a
                    >
                </div>
            </article>

            <!-- Карточка 3 -->
            <article class="blog-articles__card article-card">
                <div class="article-card__image-wrapper">
                    <img
                        class="article-card__image"
                        src="./assets/image/article_3.jpg"
                        alt="Elements that may be missed"
                        width="360"
                        height="240"
                    />
                </div>
                <div class="article-card__content">
                    <h5 class="article-card__title heading-h5">
                        Elements that may be missed when designing the UI
                    </h5>
                    <p class="article-card__description text-p-medium">
                        This is an article that talks about the little elements
                        that are often overlooked when designing UI.
                    </p>
                    <a class="article-card__link text-p-default" href="#"
                        >Read More</a
                    >
                </div>
            </article>
        </div>
    </div>
</section>
