<section class="blog-cases">
    <div class="container blog-cases__container">
        <div class="blog-cases__grid">
            <!-- Левая колонка (высокая карточка) -->
            <article class="blog-cases__card case-card">
                <div class="case-card__image-wrapper">
                    <img
                        class="case-card__image"
                        src="./assets/image/cases_1.jpg"
                        alt="How we perform long-running tasks using AWS services"
                        width="555"
                        height="580"
                    />
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title heading-h3">
                        <a href="/cocosite/single.html"
                            >How we perform long-running tasks using AWS
                            services</a
                        >
                    </h3>
                    <p class="case-card__description text-p-medium">
                        Webflow is web design tool as well as a hosting platform
                        and CMS all in one. While you are probably familiar with
                        all of these, they are usually entirely separate tools.
                    </p>
                </div>
            </article>

            <!-- Правая верхняя колонка -->
            <article class="blog-cases__card case-card case-card--horizontal">
                <div class="case-card__image-wrapper">
                    <img
                        class="case-card__image"
                        src="./assets/image/cases_2.jpg"
                        alt="How to ask when doing User Research"
                        width="555"
                        height="400"
                    />
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title heading-h3">
                        <a href="#">How to ask when doing User Research</a>
                    </h3>
                    <p class="case-card__description text-p-medium">
                        Bro, the story is that you want to make an application
                        for buying and selling goods on the market. During user
                        research, what do you think you will ask people?
                    </p>
                </div>
            </article>

            <!-- Левая нижняя колонка -->
            <article class="blog-cases__card case-card">
                <div class="case-card__image-wrapper">
                    <img
                        class="case-card__image"
                        src="./assets/image/cases_3.jpg"
                        alt="Layout Exploration — Simple exercise but big effect"
                        width="555"
                        height="400"
                    />
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title heading-h3">
                        <a href="#"
                            >Layout Exploration — Simple exercise but big
                            effect</a
                        >
                    </h3>
                    <p class="case-card__description text-p-medium">
                        Make alternatives or other options for the design we are
                        making. For example, we are creating a website design.
                        Then there is the testimonial section.
                    </p>
                </div>
            </article>

            <!-- Правая нижняя колонка -->
            <article class="blog-cases__card case-card">
                <div class="case-card__image-wrapper">
                    <img
                        class="case-card__image"
                        src="./assets/image/cases_4.jpg"
                        alt="Webflow Break the Coding Barrier"
                        width="555"
                        height="400"
                    />
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title heading-h3">
                        <a href="#">Webflow Break the Coding Barrier</a>
                    </h3>
                    <p class="case-card__description text-p-medium">
                        Webflow is web design tool as well as a hosting platform
                        and CMS all in one. While you are probably familiar with
                        all of these, they are usually entirely separate tools.
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
