<section class="blog-feed">
    <div class="container blog-feed__container">
        <div class="blog-tabs">
            <ul class="blog-tabs__list text-p-small">
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn blog-tabs__btn--active" href="#">
                        View all
                    </a>
                </li>
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn" href="#">Design</a>
                </li>
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn" href="#articles-section">
                        Articles
                    </a>
                </li>
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn" href="#"> Product </a>
                </li>
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn" href="#">
                        Software Development
                    </a>
                </li>
                <li class="blog-tabs__item">
                    <a class="blog-tabs__btn" href="#"> Customer Success </a>
                </li>
            </ul>
        </div>

        <!-- Слайдер -->
        <div class="blog-slider">
            <div class="swiper blog-slider__swiper">
                <div class="blog-slider__divider-btn">
                    <svg
                        width="28"
                        height="18"
                        viewBox="0 0 28 18"
                        fill="none"
                        xmlns="http://w3.org"
                    >
                        <path
                            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                            stroke="#7E8492"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="swiper-wrapper">
                    <!-- Карточка 1 -->
                    <article class="swiper-slide blog-card">
                        <div class="blog-card__image-wrapper">
                            <img
                                class="blog-card__image"
                                src="./assets/image/blog-slide1.png"
                                alt="Practice making User Flow"
                                width="400"
                                height="300"
                            />
                        </div>
                        <div class="blog-card__meta">
                            <span class="blog-card__published"
                                >Published in Insight Jan 30, 2021</span
                            >
                        </div>
                        <h5 class="blog-card__title heading-h5">
                            Practice making User Flow
                        </h5>
                        <p class="blog-card__description">
                            In this article, we'll cover how to create user
                            flows
                        </p>
                    </article>

                    <!-- Карточка 2 -->
                    <article class="swiper-slide blog-card">
                        <div class="blog-card__image-wrapper">
                            <img
                                class="blog-card__image"
                                src="./assets/image/blog-slide2.png"
                                alt="Overview of the Design Principles"
                                width="400"
                                height="300"
                            />
                        </div>
                        <div class="blog-card__meta">
                            <span class="blog-card__published"
                                >Published in Insight Jan 30, 2021</span
                            >
                            <span class="blog-card__author"
                                >by Albert Sans</span
                            >
                        </div>
                        <h5 class="blog-card__title heading-h5">
                            Overview of the Design Principles
                        </h5>
                        <p class="blog-card__description">
                            What are Design Principles?... To understand design
                            principles, we first discuss the principles.
                        </p>
                    </article>

                    <!-- Карточка 3 -->
                    <article class="swiper-slide blog-card">
                        <div class="blog-card__image-wrapper">
                            <img
                                class="blog-card__image"
                                src="./assets/image/blog-slide3.png"
                                alt="Using Grid in web design"
                                width="400"
                                height="300"
                            />
                        </div>
                        <div class="blog-card__meta">
                            <span class="blog-card__published"
                                >Published in Insight Jan 30, 2021</span
                            >
                        </div>
                        <h5 class="blog-card__title heading-h5">
                            Using Grid in web design
                        </h5>
                        <p class="blog-card__description">
                            Andi: "What's the grid like..." "Like below..."
                        </p>
                    </article>

                    <!-- Карточка 4 для тестового пролистывания -->
                    <article class="swiper-slide blog-card">
                        <div class="blog-card__image-wrapper">
                            <img
                                class="blog-card__image"
                                src="./assets/image/blog-slide3.png"
                                alt="Using Grid in web design"
                                width="400"
                                height="300"
                            />
                        </div>
                        <div class="blog-card__meta">
                            <span class="blog-card__published"
                                >Published in Insight Jan 30, 2021</span
                            >
                        </div>
                        <h5 class="blog-card__title heading-h5">
                            Using Grid in web design
                        </h5>
                        <p class="blog-card__description">
                            Andi: "What's the grid like..." "Like below..."
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
